body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1292px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
}
#u28882 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:76px;
  width:1200px;
  height:800px;
  display:flex;
}
#u28882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u28883 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:201px;
  width:393px;
  height:33px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u28883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:65px;
}
#u28884 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:189px;
  width:45px;
  height:65px;
  display:flex;
}
#u28884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28885_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:603px;
}
#u28885 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:208px;
  width:2px;
  height:600px;
  display:flex;
}
#u28885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u28886 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:241px;
  width:195px;
  height:26px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u28886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28887 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:289px;
  width:623px;
  height:16px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u28889 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:208px;
  width:23px;
  height:23px;
  display:flex;
  font-size:14px;
}
#u28889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u28890 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:208px;
  width:23px;
  height:23px;
  display:flex;
  font-size:14px;
}
#u28890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u28891 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:208px;
  width:23px;
  height:23px;
  display:flex;
  font-size:14px;
}
#u28891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28892_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:336px;
  height:5px;
}
#u28892 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:235px;
  width:333px;
  height:2px;
  display:flex;
}
#u28892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28893 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:76px;
  width:495px;
  height:108px;
}
#u28893_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:108px;
  overflow:hidden;
}
#u28894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:326px;
}
#u28895 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:317px;
  width:624px;
  height:326px;
  display:flex;
}
#u28895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:157px;
}
#u28896 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:394px;
  width:554px;
  height:157px;
  display:flex;
}
#u28896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:276px;
}
#u28897 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:532px;
  width:624px;
  height:276px;
  display:flex;
}
#u28897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u28898 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:299px;
  width:80px;
  height:80px;
  display:flex;
  color:#FFFFFF;
}
#u28898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u28899 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:299px;
  width:80px;
  height:80px;
  display:flex;
  color:#FFFFFF;
}
#u28899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u28900 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:299px;
  width:80px;
  height:80px;
  display:flex;
  color:#FFFFFF;
}
#u28900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u28901 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:418px;
  width:80px;
  height:80px;
  display:flex;
  color:#FFFFFF;
}
#u28901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28902 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:254px;
  width:74px;
  height:18px;
  display:flex;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 153, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u28903 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:245px;
  width:74px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u28903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28904 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:545px;
  width:74px;
  height:18px;
  display:flex;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28905_input {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:194px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u28905_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:194px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u28905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28905 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:573px;
  width:379px;
  height:194px;
  display:flex;
}
#u28905 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28905_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:194px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28905.disabled {
}
#u28906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 153, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u28906 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:786px;
  width:74px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u28906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFF00;
}
#u28907 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:183px;
  width:220px;
  height:48px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFF00;
}
#u28907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u28908 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:130px;
  width:75px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u28908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
