body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1187.55451043824px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
}
#u26422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
  display:flex;
}
#u26422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u26424 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:224px;
  width:400px;
  height:400px;
  display:flex;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u26424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:350px;
}
#u26425 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:249px;
  width:350px;
  height:350px;
  display:flex;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u26425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:165px;
}
#u26426 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:421px;
  width:330px;
  height:165px;
  display:flex;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u26426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26427_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26427 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:471px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u26427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26428_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26428 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:373px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u26428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26429_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u26429 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:604px;
  width:26px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u26429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26430_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26430 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:240px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u26430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26431_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26431 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:519px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(210deg);
  -moz-transform:rotate(210deg);
  -ms-transform:rotate(210deg);
  transform:rotate(210deg);
}
#u26431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26432_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26432 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:337px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(210deg);
  -moz-transform:rotate(210deg);
  -ms-transform:rotate(210deg);
  transform:rotate(210deg);
}
#u26432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26433_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26433 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:581px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u26433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26434_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26434 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:256px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u26434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26435_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26435 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:449px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(187deg);
  -moz-transform:rotate(187deg);
  -ms-transform:rotate(187deg);
  transform:rotate(187deg);
}
#u26435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26436_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26436 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:401px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(187deg);
  -moz-transform:rotate(187deg);
  -ms-transform:rotate(187deg);
  transform:rotate(187deg);
}
#u26436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26437_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26437 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:281px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(232deg);
  -moz-transform:rotate(232deg);
  -ms-transform:rotate(232deg);
  transform:rotate(232deg);
}
#u26437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26438_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26438 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:571px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(232deg);
  -moz-transform:rotate(232deg);
  -ms-transform:rotate(232deg);
  transform:rotate(232deg);
}
#u26438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26439_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26439 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:608px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(277deg);
  -moz-transform:rotate(277deg);
  -ms-transform:rotate(277deg);
  transform:rotate(277deg);
}
#u26439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26440_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26440 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:237px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(277deg);
  -moz-transform:rotate(277deg);
  -ms-transform:rotate(277deg);
  transform:rotate(277deg);
}
#u26440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26441_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26441 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:530px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u26441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26442_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26442 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:302px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u26442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26443_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26443 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:436px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(176deg);
  -moz-transform:rotate(176deg);
  -ms-transform:rotate(176deg);
  transform:rotate(176deg);
}
#u26443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26444_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26444 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:410px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(176deg);
  -moz-transform:rotate(176deg);
  -ms-transform:rotate(176deg);
  transform:rotate(176deg);
}
#u26444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26445_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26445 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:370px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(198deg);
  -moz-transform:rotate(198deg);
  -ms-transform:rotate(198deg);
  transform:rotate(198deg);
}
#u26445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26446_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26446 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:485px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(198deg);
  -moz-transform:rotate(198deg);
  -ms-transform:rotate(198deg);
  transform:rotate(198deg);
}
#u26446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26447_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26447 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:308px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(221deg);
  -moz-transform:rotate(221deg);
  -ms-transform:rotate(221deg);
  transform:rotate(221deg);
}
#u26447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26448_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26448 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:549px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(221deg);
  -moz-transform:rotate(221deg);
  -ms-transform:rotate(221deg);
  transform:rotate(221deg);
}
#u26448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26449_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26449 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:258px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(243deg);
  -moz-transform:rotate(243deg);
  -ms-transform:rotate(243deg);
  transform:rotate(243deg);
}
#u26449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26450_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26450 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:591px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(243deg);
  -moz-transform:rotate(243deg);
  -ms-transform:rotate(243deg);
  transform:rotate(243deg);
}
#u26450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26451_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26451 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:236px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(266deg);
  -moz-transform:rotate(266deg);
  -ms-transform:rotate(266deg);
  transform:rotate(266deg);
}
#u26451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26452_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u26452 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:610px;
  width:26px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(266deg);
  -moz-transform:rotate(266deg);
  -ms-transform:rotate(266deg);
  transform:rotate(266deg);
}
#u26452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26453_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26453 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:243px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(288deg);
  -moz-transform:rotate(288deg);
  -ms-transform:rotate(288deg);
  transform:rotate(288deg);
}
#u26453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26454_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u26454 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:598px;
  width:26px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(289deg);
  -moz-transform:rotate(289deg);
  -ms-transform:rotate(289deg);
  transform:rotate(289deg);
}
#u26454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26455_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26455 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:334px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(153deg);
  -moz-transform:rotate(153deg);
  -ms-transform:rotate(153deg);
  transform:rotate(153deg);
}
#u26455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26456_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26456 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:501px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(153deg);
  -moz-transform:rotate(153deg);
  -ms-transform:rotate(153deg);
  transform:rotate(153deg);
}
#u26456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26457_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26457 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:557px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(311deg);
  -moz-transform:rotate(311deg);
  -ms-transform:rotate(311deg);
  transform:rotate(311deg);
}
#u26457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26458_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26458 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:274px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(311deg);
  -moz-transform:rotate(311deg);
  -ms-transform:rotate(311deg);
  transform:rotate(311deg);
}
#u26458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26459_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26459 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:264px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(305deg);
  -moz-transform:rotate(305deg);
  -ms-transform:rotate(305deg);
  transform:rotate(305deg);
}
#u26459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26460_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26460 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:570px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(305deg);
  -moz-transform:rotate(305deg);
  -ms-transform:rotate(305deg);
  transform:rotate(305deg);
}
#u26460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26461_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26461 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:287px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(317deg);
  -moz-transform:rotate(317deg);
  -ms-transform:rotate(317deg);
  transform:rotate(317deg);
}
#u26461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26462_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26462 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:544px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(316deg);
  -moz-transform:rotate(316deg);
  -ms-transform:rotate(316deg);
  transform:rotate(316deg);
}
#u26462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26463_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26463 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:248px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(294deg);
  -moz-transform:rotate(294deg);
  -ms-transform:rotate(294deg);
  transform:rotate(294deg);
}
#u26463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26464_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26464 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:515px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(328deg);
  -moz-transform:rotate(328deg);
  -ms-transform:rotate(328deg);
  transform:rotate(328deg);
}
#u26464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26465_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26465 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:453px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(171deg);
  -moz-transform:rotate(171deg);
  -ms-transform:rotate(171deg);
  transform:rotate(171deg);
}
#u26465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26466_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26466 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:484px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(159deg);
  -moz-transform:rotate(159deg);
  -ms-transform:rotate(159deg);
  transform:rotate(159deg);
}
#u26466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26467_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26467 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:419px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(182deg);
  -moz-transform:rotate(182deg);
  -ms-transform:rotate(182deg);
  transform:rotate(182deg);
}
#u26467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26468_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26468 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:386px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(193deg);
  -moz-transform:rotate(193deg);
  -ms-transform:rotate(193deg);
  transform:rotate(193deg);
}
#u26468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26469_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26469 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:354px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(204deg);
  -moz-transform:rotate(204deg);
  -ms-transform:rotate(204deg);
  transform:rotate(204deg);
}
#u26469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26470_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26470 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:321px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(216deg);
  -moz-transform:rotate(216deg);
  -ms-transform:rotate(216deg);
  transform:rotate(216deg);
}
#u26470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26471_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26471 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:293px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(227deg);
  -moz-transform:rotate(227deg);
  -ms-transform:rotate(227deg);
  transform:rotate(227deg);
}
#u26471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26472_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26472 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:268px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(238deg);
  -moz-transform:rotate(238deg);
  -ms-transform:rotate(238deg);
  transform:rotate(238deg);
}
#u26472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26473_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26473 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:249px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(249deg);
  -moz-transform:rotate(249deg);
  -ms-transform:rotate(249deg);
  transform:rotate(249deg);
}
#u26473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26474_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26474 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:238px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(261deg);
  -moz-transform:rotate(261deg);
  -ms-transform:rotate(261deg);
  transform:rotate(261deg);
}
#u26474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26475_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26475 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:236px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(272deg);
  -moz-transform:rotate(272deg);
  -ms-transform:rotate(272deg);
  transform:rotate(272deg);
}
#u26475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26476_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26476 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:239px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(283deg);
  -moz-transform:rotate(283deg);
  -ms-transform:rotate(283deg);
  transform:rotate(283deg);
}
#u26476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26477_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26477 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:317px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(328deg);
  -moz-transform:rotate(328deg);
  -ms-transform:rotate(328deg);
  transform:rotate(328deg);
}
#u26477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26478_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26478 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:354px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(159deg);
  -moz-transform:rotate(159deg);
  -ms-transform:rotate(159deg);
  transform:rotate(159deg);
}
#u26478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26479_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26479 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:392px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(171deg);
  -moz-transform:rotate(171deg);
  -ms-transform:rotate(171deg);
  transform:rotate(171deg);
}
#u26479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26480_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26480 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:430px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(182deg);
  -moz-transform:rotate(182deg);
  -ms-transform:rotate(182deg);
  transform:rotate(182deg);
}
#u26480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26481_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26481 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:467px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(193deg);
  -moz-transform:rotate(193deg);
  -ms-transform:rotate(193deg);
  transform:rotate(193deg);
}
#u26481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26482_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26482 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:503px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(204deg);
  -moz-transform:rotate(204deg);
  -ms-transform:rotate(204deg);
  transform:rotate(204deg);
}
#u26482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26483_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26483 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:533px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(216deg);
  -moz-transform:rotate(216deg);
  -ms-transform:rotate(216deg);
  transform:rotate(216deg);
}
#u26483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26484_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26484 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:560px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(227deg);
  -moz-transform:rotate(227deg);
  -ms-transform:rotate(227deg);
  transform:rotate(227deg);
}
#u26484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26485_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u26485 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:582px;
  width:25px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(238deg);
  -moz-transform:rotate(238deg);
  -ms-transform:rotate(238deg);
  transform:rotate(238deg);
}
#u26485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26486_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u26486 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:599px;
  width:26px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(249deg);
  -moz-transform:rotate(249deg);
  -ms-transform:rotate(249deg);
  transform:rotate(249deg);
}
#u26486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26487_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u26487 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:608px;
  width:26px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(261deg);
  -moz-transform:rotate(261deg);
  -ms-transform:rotate(261deg);
  transform:rotate(261deg);
}
#u26487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26488_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u26488 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:610px;
  width:26px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(272deg);
  -moz-transform:rotate(272deg);
  -ms-transform:rotate(272deg);
  transform:rotate(272deg);
}
#u26488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26489_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u26489 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:604px;
  width:26px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(284deg);
  -moz-transform:rotate(284deg);
  -ms-transform:rotate(284deg);
  transform:rotate(284deg);
}
#u26489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26490_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u26490 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:591px;
  width:26px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(295deg);
  -moz-transform:rotate(295deg);
  -ms-transform:rotate(295deg);
  transform:rotate(295deg);
}
#u26490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:225px;
}
#u26492 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:239px;
  width:450px;
  height:225px;
  display:flex;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u26492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:225px;
}
#u26493 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:398px;
  width:450px;
  height:225px;
  display:flex;
  -webkit-transform:rotate(142deg);
  -moz-transform:rotate(142deg);
  -ms-transform:rotate(142deg);
  transform:rotate(142deg);
}
#u26493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:531px;
}
#u26494 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:71px;
  width:271px;
  height:531px;
  display:flex;
  -webkit-transform:rotate(150deg);
  -moz-transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  transform:rotate(150deg);
}
#u26494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:442px;
}
#u26495 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:127px;
  width:207px;
  height:442px;
  display:flex;
  -webkit-transform:rotate(150deg);
  -moz-transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  transform:rotate(150deg);
}
#u26495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
}
#u26496 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:664px;
  width:1px;
  height:22px;
  display:flex;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u26496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:528px;
}
#u26497 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:145px;
  width:1px;
  height:528px;
  display:flex;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u26497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:442px;
}
#u26498 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:216px;
  width:207px;
  height:442px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
}
#u26499 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:331px;
  width:500px;
  height:250px;
  display:flex;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u26499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文隶书 Bold', '华文隶书 Regular', '华文隶书';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u26501 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:24px;
  width:319px;
  height:28px;
  display:flex;
  font-family:'华文隶书 Bold', '华文隶书 Regular', '华文隶书';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u26501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:95px;
}
#u26502 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:8px;
  width:1px;
  height:94px;
  display:flex;
}
#u26502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u26503 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:9px;
  width:37px;
  height:19px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u26503 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26503_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u26504 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:31px;
  width:56px;
  height:19px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u26504 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26504_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u26505 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:56px;
  width:410px;
  height:15px;
  display:flex;
  color:#CCCCCC;
}
#u26505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26506 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:50px;
  width:50px;
  height:50px;
  display:flex;
}
#u26506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u26509 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:370px;
  width:289px;
  height:40px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u26509 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26509_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u26509.selected {
}
#u26509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u26510 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:370px;
  width:172px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u26510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u26511 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:272px;
  width:300px;
  height:300px;
  display:flex;
}
#u26511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:140px;
}
#u26512 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:310px;
  width:319px;
  height:140px;
  display:flex;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u26512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 153, 0.8);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u26513 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:437px;
  width:131px;
  height:40px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u26513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
