body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u27767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
}
#u27767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
  display:flex;
  font-size:14px;
}
#u27767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文隶书 Bold', '华文隶书 Regular', '华文隶书';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u27769 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:8px;
  width:319px;
  height:28px;
  display:flex;
  font-family:'华文隶书 Bold', '华文隶书 Regular', '华文隶书';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u27769 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27769_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:95px;
}
#u27770 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:8px;
  width:1px;
  height:94px;
  display:flex;
}
#u27770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27771 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:9px;
  width:37px;
  height:19px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u27771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27772 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:31px;
  width:56px;
  height:19px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u27772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u27773 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:37px;
  width:410px;
  height:15px;
  display:flex;
  color:#CCCCCC;
}
#u27773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27774 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:50px;
  width:50px;
  height:50px;
  display:flex;
}
#u27774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27775 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:61px;
  width:79px;
  height:19px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u27775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u27776 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:39px;
  width:335px;
  height:32px;
  display:flex;
  text-align:right;
}
#u27776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u27777 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:121px;
  width:625px;
  height:47px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u27777 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27777_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:62px;
}
#u27778 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:113px;
  width:45px;
  height:62px;
  display:flex;
}
#u27778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27779 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:195px;
  width:112px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27780 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:250px;
  width:892px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27781 label {
  left:0px;
  width:100%;
}
#u27781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:12px;
  height:12px;
}
#u27781 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:314px;
  width:204px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u27781_img.selected {
}
#u27781.selected {
}
#u27781_img.disabled {
}
#u27781.disabled {
}
#u27781_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:188px;
  word-wrap:break-word;
  text-transform:none;
}
#u27781_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u27782 label {
  left:0px;
  width:100%;
}
#u27782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:12px;
  height:12px;
}
#u27782 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:314px;
  width:232px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u27782_img.selected {
}
#u27782.selected {
}
#u27782_img.disabled {
}
#u27782.disabled {
}
#u27782_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u27782_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u27783 label {
  left:0px;
  width:100%;
}
#u27783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:12px;
  height:12px;
}
#u27783 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:371px;
  width:224px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u27783_img.selected {
}
#u27783.selected {
}
#u27783_img.disabled {
}
#u27783.disabled {
}
#u27783_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:208px;
  word-wrap:break-word;
  text-transform:none;
}
#u27783_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u27784 label {
  left:0px;
  width:100%;
}
#u27784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:12px;
  height:12px;
}
#u27784 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:371px;
  width:232px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u27784_img.selected {
}
#u27784.selected {
}
#u27784_img.disabled {
}
#u27784.disabled {
}
#u27784_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u27784_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u27785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00FF00;
}
#u27786 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:455px;
  width:296px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00FF00;
}
#u27786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27787 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:509px;
  width:296px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27788 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:565px;
  width:236px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27789 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:618px;
  width:669px;
  height:74px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
